# Base URL
APP_URL=http://localhost:8000
APP_NAME="Vestidos Roma"


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=goric_chatbot
DB_USERNAME=root
DB_PASSWORD=

# Storage
STORAGE_PATH=storage/app/products

# Groq API para visión artificial
GROQ_API_KEY=tu-api-key-aqui
GROQ_MODEL_VISION=llama-3.2-90b-vision-preview
GROQ_MODEL_CHAT=llama-3.3-70b-versatile

# URL pública de la app para WhatsApp
PUBLIC_APP_URL=https://tu-ngrok-url.ngrok-free.app

# Pusher (para tiempo real)
BROADCAST_CONNECTION=pusher
